.button {
    background-color: #DBB108;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 45px;
    margin-right: 35px;
}
.button:hover {
    background-color: #555555;
    color: white;
}
.image-logo{
  width: 275px;
  height: 75px;
  margin-top: 40px;
}
.title{
  color: #DBB108;
  text-shadow: 1.5px 1.5px #876F0E;
  text-align: center;
}
.label{
  margin-left: 35px;
  margin-right: 35px;
}
.container{
  display: flex;
  justify-content: center;
}
.form-center{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
}
.text-right{
  text-align: right;
}
.border-radius{
  border-radius: 12px;
}

#button-right{
  float: right;
}
#button-Find{
margin-left: 55px;
}
#menu{
  padding: 0;

}
#menu li{
  display:inline;

}
#menu li a{
  font-size: 20px;
  text-decoration: none;
  float: left;
  padding: 15px;
  background-color: #DBB108;
  color: white;

}
#menu li a:hover{
  background-color: #EEE194;
  margin-top: -2;
  padding-bottom: 12px;]
}

body{
  height: 100%;
  background-image: url("/image/fondo.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  color: white;
  font-family: Arial;
  font-size: 16px
}

div{
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 50px;
}


input {
    width: 250px;
    padding: 9px 9px;
    border-radius: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    transition: 0.5s;
    outline: none;
    font-size: 14px;
    font-family:Arial;
}

input:focus {
    border: 3px solid #F9EBB4;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#7A7552;}

a{
  color: #DBB108;
}
